<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>68</integer>
	<key>Time Stamp</key>
	<real>1783505991.974561</real>
	<key>UUID</key>
	<string>8254CC85-E8E1-4331-9B7B-B055F90029C0</string>
</dict>
</plist>
