<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Labels</key>
	<string>\log_{10}{\it h}
\log_{10}{\it \beta_q}
βʷ⁺
βʷ⁺
βʷ⁺

\log_{10}{\it h}
\log_{10}{\it \beta_\gamma}
FEM
FE-MF
βᵞ⁺
DSG3
MITC4
</string>
	<key>Text</key>
	<string></string>
</dict>
</plist>
