<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>68</integer>
	<key>Time Stamp</key>
	<real>1782723956.942152</real>
	<key>UUID</key>
	<string>1AC5B069-E463-446C-9C05-032F4279F498</string>
</dict>
</plist>
