<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>68</integer>
	<key>Time Stamp</key>
	<real>1781688745.2272611</real>
	<key>UUID</key>
	<string>CB16737F-8E47-4970-9A97-3455FF3D8C62</string>
</dict>
</plist>
