<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>68</integer>
	<key>Time Stamp</key>
	<real>1784602600.7826319</real>
	<key>UUID</key>
	<string>7F192897-AAC7-42C7-A3B2-83176BC6B745</string>
</dict>
</plist>
