<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Labels</key>
	<string>\log_{10}{\it h}
‖{\it w - w^h}‖_{{\it L}_{2}}
L₂w
L₂w
L₂w
L₂w
L₂w
L₂w

\log_{10}{\it h}
\alpha
L₂w
L₂w
L₂w
L₂w
L₂w
L₂w

\log_{10}{\it h}
‖{\it Q - Q^h}‖_{{\it L}_{2}}
L₂Q
L₂Q
L₂Q
L₂Q
L₂Q
L₂Q
</string>
	<key>Text</key>
	<string></string>
</dict>
</plist>
